*
!*.py
!*.md
!*.txt
!*.jpg
!requirements*
!Dockerfile*
!.dockerignore
!*.sh
!*.yml
!*.ps1
!*.cmd
!*.vbs
!docker/
!docker/*.sh
!tests/
!tests/*.py
!.github/
!.github/workflows/
!.github/workflows/*.yml
